<div class="row">
  <div class="col s8 offset-s2">
    
  </div>
</div>
      
<div class="row">
  <div class="col s12">

    <div class="divider"></div>
    <% @res.each do |res| %>
      <div class="row">
        <div class="col s11 offset-s1">
          <div class="section">
            <p><%= res.id %> : <%= res.created_at %></p>
            <h4><%= res.content %></h4>
          </div>
        </div>
      </div>
      <div class="divider"></div>
    <% end %>

  </div>
</div>
