<div class="row">

  <div class="col s12 m9 l10">

    <div class="row">
      <div class="col s12 m10 offset-m2">

        <div class="divider"></div>
        <% @threads.each do |thread| %>
        <a href="/threads/<%= thread.id %>">
          <div class="section">
            <h5><%= escape_html thread.title %></h5>
            <p><%= thread.created_at %></p>
          </div>
        </a>
        <div class="divider"></div>
        <% end %>

      </div>
    </div>

  </div>

</div>

<%# Modal Trigger %>
<div class="fixed-action-btn">
  <a href="#createThreadModal" class="modal-trigger btn-floating btn-large waves-effect waves-light red">
    <i class="material-icons">add</i>
  </a>
</div>

<%# create thread form %>
<div id="createThreadModal" class="modal bottom-sheet">

  <form action="/threads" method="post">
    <div class="modal-content">
      <h4>Create Thread</h4>

      <div class="row">
        <div class="input-field col s8 offset-s2">
          <input type="text" name="title" id="title" class="validate">
          <label for="title">Title</label>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <div class="row">
            <div class="input-field col s8 offset-s2">
              <textarea name="description" id="description" class="materialize-textarea"></textarea>
              <label for="description">Description</label>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button class="btn waves-effect waves-light" type="submit">create
        <i class="material-icons right">send</i>
      </button>
    </div>
  </form>
</div>
